@keyframes animacao {
    from {
        background-color: #ffe601;}
    to {background-color: #3001ff;}
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #ffffff;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-name: animacao;
    animation-duration: 30s;
}

.container img{
    width: 100px;
    
}